<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication2.Settings1.sqlconnect" connectionString="Data Source=192.168.56.101\mydb;Integrated Security=False;User ID=valery;Password=Password@123;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
        <add name="WindowsFormsApplication2.Properties.Settings.musicConnectionString"
            connectionString="Data Source=192.168.56.101\mydb;Initial Catalog=music;Persist Security Info=True;User ID=valery"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>